body {
  height: 100%;
  background-color: #2a2a2a;
}

p {
  line-height: 1.5em;
}

.background {
  background: url('background.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 55%;
  position: absolute;
  top: 25px;
  height: 100%;
  width: 100%;
}

#intro {
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 1px;
  color: white;
  text-align: center;
  padding-top: 170px;
}

#intro-match {
  font-size: 40px;
}

.details {
  margin-top: 80px;
  font-size: 12px;
  color: #9EB7C2;
}

#debugging {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  visibility: hidden;
  margin-top: 80px;
}