body {
  height: 100%;
  background-color: #2a2a2a;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: subpixel-antialiased;
}

p {
  line-height: 1.5em;
}

.background {
  background: url('background.png');
  background-repeat: no-repeat;
  background-position: top;
  background-size: 55%;
  position: absolute;
  top: 25px;
  height: 100%;
  width: 100%;
}

#intro {
  font-family: 'Lato', 'Helvetica Neue', Arial, sans-serif;
  letter-spacing: 1px;
  font-size: 1em;
  color: white;
  text-align: center;
  margin-top: 15%;
}

#intro-match {
  font-size: 3em;
}

.details {
  margin-top: 80px;
  font-size: 0.8em;
  color: #9EB7C2;
}

#debugging {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  visibility: hidden;
  margin-top: 80px;
}